@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

/* @import "./styles/base.css"; */
@import "./styles/components.css";
/* @import "./styles/utilities.css"; */
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  min-height: 619px;
  box-sizing: border-box;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: var(--text-base);
}
@theme {
  /*Colors Primary*/
  --color-Red-400: hsl(7, 99%, 70%);
  --color-Yellow-500: hsl(51, 100%, 49%);
  --color-Green-800: hsl(167, 40%, 24%); /*(graphic design text)*/
  --color-Blue-800: hsl(198, 62%, 26%); /*(photography text)*/
  --color-Green-500: hsl(167, 34%, 41%); /* (footer)*/
  --color-footer: hsl(167, 44%, 70%);
  /* (footer)*/
  /*Neutral*/
  --color-Grey-950: hsl(212, 27%, 19%);
  --color-Grey-600: hsl(213, 9%, 39%);
  --color-Grey-550: hsl(232, 10%, 55%);
  --color-Grey-400: hsl(210, 4%, 67%);
  --color-White: hsl(0, 100%, 100%);
  /*Container*/
  --container-sm: 375px;
  --container-lg: 1440px;

  /*Typography*/
  --text-size-12: 0.75rem;
  --text-size-14: 0.875rem;
  --text-size-16: 1rem;
  --text-size-18: 1.125rem;
  --text-size-20: 1.25rem;
  --text-size-24: 1.5rem;
  --text-size-32: 2rem;
  --text-size-40: 2.5rem;
  --text-size-48: 3rem;

  --text-base: 16px;

  --font-family-Barlow: "Barlow", sans-serif;
  --font-weight-barlow-600: 600;
  --font-family-Fraunces: "Fraunces", serif;
  --font-weight-fraunces-700: 700;
  --font-weight-fraunces-900: 900;
}
